global:
  cloudProvider: {}
  tracing: {}
  metrics: {}
  environment: ''
  serviceUrls:
    geoserverUrl: ""
  geoserver:  
    auth: 
      username: ""
      password: ""
  db: 
    username: ""
    password: ""
    host: ""
    port: ""
    schema: ""
    name: ""
    dbType: ""
    sslMode: ""
    sslEnabled: false
    secrets:
      useExternal: true
      externalSecretName: "raster-dev-postgres-secret"

  ca:    
    secretName: ''
    path: '/usr/local/share/ca-certificates'
    key: 'ca.crt'  
  ingress:
    domain: 'apps.aroapp.io'      

enabled: true
environment: development
replicaCount: 1
revisionHistoryLimit: 5 # Amount of revisions we keep
nodePort: 30030 #for minikube deployment only
resetOnConfigChange: false

nameOverride: ""
fullnameOverride: ""

livenessProbe:
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  path: /liveness

podAnnotations: {}

extraVolumes: []

extraVolumeMounts: []

extraEnvVars: []

command: []
args: []
# command: [ "/bin/sh", "-c", "--" ]
# args: [ "while true; do sleep infinity; done;" ]

sidecars: []

caSecretName: ''
caPath: '/usr/local/share/ca-certificates'
caKey: 'ca.crt'

image:
  repository: geoserver-api
  tag: 'latest'

tracing:
  enabled: false
  url: ''

metrics:
  enabled: false
  url: ''
  prometheus:
    scrape: true
    port: 8080  

geoserver:  
  auth: 
    username: ""
    password: ""
db: 
  username: ""
  password: ""
  host: ""
  port: ""
  schema: ""
  name: ""
  dbType: ""
  sslMode: ""
  sslEnabled: false
  secrets:
      useExternal: false
      externalSecretName: ''



env:
  port: 8080
  targetPort: 8080
  protocol: TCP
  logLevel: info
  logPrettyPrintEnabled: false
  responseCompressionEnabled: true
  requestPayloadLimit: 1mb
  disableHttpClientLogs: false     
  httpRetry:
    attempts: 5
    delay: exponential
    resetTimeout: true  


resources:
  enabled: false
  value:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi

route:
  enabled: true
  path: /
  host: 
  timeout:
    enabled: false # defaults to 30s by openshift
    duration: 60s # supported units (us, ms, s, m, h, d)
  rewriteTarget: ''
  tls:
    enabled: true
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
    useCerts: false
    certificate: ''
    key: ''
    caCertificate: ''

ingress:
  enabled: false
  type: 'nginx-org' # supported values: 'nginx-org' | 'nginx-kubernetes'
  path: /
  host: 'localhost'
  cors:
    enabled: true
    origin: '*'
